<footer class="footer">
  <div class="footer-top">
    <img
      src="https://thimxokeit.github.io/letsjam/assets/jam_logo.png" 
      alt="JAM"
      class="footer-logo"
    />
    <a href="/about/" class="footer-company">
      Sticky Studio 소개
    </a>
    <a href="https://www.instagram.com/jam_stickystudio/" target="_blank" class="footer-instagram">
    INSTAGRAM
    </a>
  </div>

  <div class="footer-bottom">
    <a href="/terms/">이용약관</a>
    <a href="/privacy/">개인정보처리방침</a>
    <a href="https://forms.gle/6JcnqBmy8Aaim5qv6" target="_blank">문의하기</a>
    <a href="https://forms.gle/9MV6DvcKfCKQTxbXA" target="_blank">버그 제보하기</a>
    <p class="footer-copyright">© 2026 JAM. All rights reserved.</p>
  </div>
</footer>
