<footer class="footer">
  <!-- 상단 -->
  <div class="footer-top">
    <img
      src="{{ '/assets/jam_logo.png' | absolute_url }}"
      alt="JAM"
      class="footer-logo"
    />
    <a href="{{ '/about/' | relative_url }}" class="footer-company">
      Sticky Studio 소개
    </a>
  </div>

  <!-- 하단 -->
  <div class="footer-bottom">
    <a href="{{ '/terms/' | relative_url }}">이용약관</a>
    <a href="{{ '/privacy/' | relative_url }}">개인정보처리방침</a>
    <a href="https://forms.gle/6JcnqBmy8Aaim5qv6" target="_blank">문의하기</a>
    <a href="https://forms.gle/9MV6DvcKfCKQTxbXA" target="_blank">버그 제보하기</a>
    <p class="footer-copyright">© 2026 JAM. All rights reserved.</p>
  </div>
</footer>
